@charset "utf-8";
/* CSS Document */


.body{
	background-color:#BBBBBB;
}

.jumbotron {
	height: 250px;
	background-image: url('pattern1.jpg');
	background-repeat: repeat;
}

.jumbotron2 {
	height: 50px;
	background-image: url('pattern1.jpg');
	background-repeat: repeat;
	margin-top: 30px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
   background-color:#996699 !important;
}


a {
	text-decoration: none; 
	color:#996699;
}


a:hover {
	font-weight:bold;
	text-decoration: none; 
	color:#996699;
}

/*  ------- código Fábio  ------- */
	
	.imgBox1:hover {
			background-image: url('BR042.jpg');
			background-size: cover;
	}
		
	.imgBox1 img:hover {
			opacity: 0;		
	}
	
	.imgBox2:hover {
		background: url('CDA_7virtudes-1.jpg');
		background-size: cover;
	}
	
	.imgBox2 img:hover {
		opacity: 0;	
	}
	
	.imgBox3:hover {
		background: url('sumpro-170.jpg');
		background-size: cover;
	}
	
	.imgBox3 img:hover {
		opacity: 0;	
	}
	
	.imgBox4:hover {
		background: url('ykz19c.jpg');
		background-size: cover;
	}
	
	.imgBox4 img:hover {
		opacity: 0;	
	}

/* ------- FIM - código Fábio  ------- */
	
	

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}

.carousel-caption {
	color:black;
}


.well {
    border-color: #996699;	
    color: #996699;
    font-weight:bold;
   padding-left: 20px;
}


.element.style {
    text-align: left;
}

.btn btn-danger col-sm-2 {
margin-left: 15px;
}

p {
    padding-left:20px;
   }

form-group {
	padding-left:20px;
}
